* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: #fafaf8;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 111px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.06);
  font-size: 32px;
  background-color: white;
}
header > img {
  width: 43px;
  height: 52px;
  margin-right: 10px;
}

main {
  margin: 3rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.add-ingredient-form {
  display: flex;
  height: 38px;
  justify-content: center;
  gap: 12px;
}

.add-ingredient-form > input {
  width: 399px;
  border-radius: 6px;
  border: solid #d1d5db;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  flex-grow: 1;
  min-width: 150px;
  max-width: 400px;
}

.add-ingredient-form > button {
  width: 180px;
  border-radius: 6px;
  background-color: #141413;
  color: white;
  border: none;
}

.add-ingredient-form > button::before {
  content: "+";
  margin-right: 15px;
  font-size: 0.875rem;
}

section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  width: 594px;
}

ul {
  width: 549px;
  padding: 0;
}

.get-recipe-container {
  width: 594px;
  height: 109px;
  display: flex;
  background-color: #f0efeb;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  gap: 120px;
}

.get-recipe-container > div {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 8px;
}

.get-recipe-container > div > h3 {
  margin: 0;
  font-weight: 700;
  font-size: 15px;
}

.get-recipe-container > div > span {
  font-size: 12px;
  color: #6b7280;
}

.get-recipe-container > button {
  width: 115px;
  height: 38px;
  border-radius: 6px;
  color: white;
  background-color: #d17557;
  border: none;
  font-size: 13px;
  cursor: pointer;
}

.suggested-recipe-container {
  color: #475467;
  line-height: 28px;
  font-size: 1.125rem;
  font-weight: 400;
}

.suggested-recipe-container > ul {
  margin-left: 40px;
}

.suggested-recipe-container ul li,
.suggested-recipe-container ol li {
  margin-bottom: 8px;
}
